# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# VS Code settings (optional, kalau pakai VS Code)
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/
